<ng-container *ngIf="products.length != 0">
    <div class="container">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Sr. No.</th>
                            <th>Product Name</th>
                            <th>Product Image</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of products; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{item.title}}</td>
                            <td>
                                <img class="product-img" src="{{item.image}}" alt="">
                            </td>
                            <td>{{item.price}}</td>
                            <td>
                                <div>
                                    <button type="button" (click)="decrementCartItem(item); getTotalPrice()" class="btn btn-outline-danger"  data-type="minus" data-field="">
                                        <i class="bi bi-dash"></i>
                                      </button>
                                    {{item.quantity}}
                                    <button type="button" (click)="addToCart(item); getTotalPrice()" class="btn btn-outline-success" data-type="plus" data-field="">
                                        <i class="bi bi-plus"></i>
                                    </button>
                                </div>
                            </td>
                            <td>{{item.total}}</td>
                            <td>    
                                <button (click)="removeItem(item); getTotalPrice()" class="btn btn-danger">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td>
                                <button (click)="emptyCart()" class="btn btn-danger">Empty cart</button>
                            </td>
                            <td>
                                <button routerLink="/products" class="btn btn-success">Shop more</button>
                            </td>
                            <td>
                                <button class="btn btn-primary">Checkout</button>
                            </td>
                            <td><strong>Grand Total:</strong> {{grandTotal | number : '1.0-2'}} </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="products.length == 0">
    <div class="container">
        <div class="card">
            <h5 class="card-title">My Cart</h5>
        </div>
        <div class="center">
            <img src="../../../assets/cart/empty-cart.png" alt="">
            <h4>Your cart is empty!</h4>
            <h6>Add items to cart</h6>
            <button routerLink="/products" class="btn btn-primary">Shop now</button>
        </div>
    </div>
</ng-container>